/* ===== RESET ===== */
:root {
    --cor-primaria: #FEBD57;
    --cor-secundaria: #8C94DF;
    --cor-terceira: #E2D5C4;
    --cor-quarta: #A7BE8A;
}

body {
    font-family: "Arial Rounded MT Bold", sans-serif;
    background: var(--cor-terceira);

    min-height: 100vh;
    margin: 0;
    height: 100vh;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 70%;
    margin: auto;
}

.cabecalho {
    height: 3em;
    background-color: var(--cor-secundaria);
    margin-bottom: 3em;
}

.app-container {
    background: var(--cor-quarta);
    border-radius: 12px;
    border: 2px solid var(--cor-primaria);
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
    width: 110%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

#calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
}

.day {
    padding: 10px;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

.day.has-task {
    background: #b2dfdb;
    position: relative;
}

.day.has-task::after {
    content: "•";
    color: red;
    font-size: 18px;
    position: absolute;
    bottom: 2px;
    right: 6px;
}

.day.today {
    background: var(--cor-secundaria);
    font-weight: bold;
}

#taskList {
    margin-top: 20px;
    text-align: left;
}

footer {
    height: 4em;
    background-color: var(--cor-secundaria);
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer button {
    all: unset;
    cursor: pointer;

    background-color: var(--cor-primaria);
    padding: 0.5em 0.8em;
    border-radius: 50em;
}

#addTaskBtn {
    all: unset;
    cursor: pointer;
    margin: auto;
    background-color: var(--cor-primaria);
    padding: 0.5em 0.8em;
    border-radius: 50em;
    position: fixed;
    bottom: 2%;
    margin-top: 40px;
}

#addTaskBtn:hover {
    background-color: var(--cor-terceira);
}


/* Botão de menu (hambúrguer) */

/* Menu lateral */
.menu {
  
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -270px;
    /* escondido fora da tela */
    transition: left 0.3s ease;
    z-index: 999;
}

/* Quando o menu estiver ativo (visível) */
/* Botão do menu no rodapé */

.menu-btn:hover {
    background-color: var(--cor-terceira);
}

/* Menu que sobe de baixo */
.menu {
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    background-color: #a5a3f0;
    color: white;
    
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    box-shadow: 0 -5px 20px rgba(0, 0, 0, 0.2);
    transition: bottom 0.4s ease;
    z-index: 999;
}

/* Botão de menu (hambúrguer) */
.menu-btn {
    
    color: white;
    border: none;
    font-size: 20px;
    color: black;
    cursor: pointer;
    border-radius: 100px;
    position: fixed;
    left: 5%;
    bottom: 1%;
    z-index: 1000;
}

/* Menu lateral */
.menu {
    background-color: #a5a3f0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 15px;
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -300px;
    /* escondido fora da tela */
    transition: left 0.3s ease;
    z-index: 999;
}

/* Quando o menu estiver ativo (visível) */
.menu.ativo {
    left: 0;
}

.menu button {
    background: none;
    border: none;
    font-size: 18px;
    text-align: left;
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    transition: 0.3s;
}

.menu button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}